:root {
    --primary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --additional-color: #FFFFFF;
    --selective-color: #212121;
    --button-color: #FFFFFF;
    --button-bg-color: #2196F3;
    --footer-bg-color: #2F303A;
    --button-portfolio-bg-color: #F5F4FA;
    --primary-br-color: #ffffff;
    --secondary-bg-color: #E5E5E5;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--primary-text-color);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.main-nav {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.logo {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2px;
    color: var(--title-text-color);
    text-decoration: none;

}

span {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

/* site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
   margin-right: 0;
}


.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--selective-color);
    text-decoration: none;
    
}



.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
 
}

.auth-nav .item {
    margin-right: 50px;
}

.auth-nav .item:last-child {
    margin-right: 0;
 }

.auth-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
    
}

.contacts-nav .link {
 display: flex;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.1;
 letter-spacing: 0.02em;
 text-decoration: none;
 color: var(--primary-text-color);

}


.item .figure {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--primary-text-color);
   
}




.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/* hero */

.hero {
padding-top: 200px;
padding-bottom: 200px;
text-align: center;
background-color: #2F303A;
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
outline: 1px solid black;
background-image: linear-gradient ( to right, 
rgba(47, 48, 58, 0.8)
);
background-image: url('../images/Juniors.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--additional-color);
}



.section {
 padding-top: 94px;
 padding-bottom: 94px;
}

.feature {
    padding-bottom: 0;
}

.feature-list {
display: flex;
gap: 30px;
}

.feature-list .list-item {
    width: 270px;
}

.antena-item::before {
    display: block;
    content: '';
    height: 120px;

    background-image: url(../images/antenna\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.clock-item::before {
    display: block;
    content: '';
    height: 120px;
   
    background-image: url(../images/clock\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.diagram-item::before {
    display: block;
    content: '';
    height: 120px;
    
    background-image: url(../images/diagram\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.astronaut-item::before {
    display: block;
    content: '';
    height: 120px;

    background-image: url(../images/astronaut\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}


.feature-text {
    line-height: 1.71;
  
}

.text {
    line-height: 24px;
}

.feature-list .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--selective-color);
}

.feature-list .text{
font-weight: 400;
}

.work-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
}

.working {
    display: flex;
}

.work:not(:last-child) {
    margin-right: 30px;
}

/* Наша команда */

.team {
   background-color: #F5F4FA;
}

.teams {
    display: flex;
    gap: 30px;
    
}

.team-icon {
    text-align: center;
}

.team-icon:last-child {
    margin-right: 0;
}

img {
    display:block;
}

.card-name {
background-color: var(--additional-color);
border-radius: 0px 0px 4px 4px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 5px;
padding-right: 5px; 
}

.profession::after {
    content: '';
    display: block;
   
    
background-image: url(../images/Ellipse.svg);
background-image: url(../images/Twitter\ 1.svg);
background-image: url(../images/facebook\ 1.svg);
background-image: url(../images/linkedin\ 1.svg);
background-repeat: no-repeat;
}

.team-list {
    box-shadow:  
0px, 1px 3px rgba(0, 0, 0, 0.12),
0px, 1px 1px rgba(0, 0, 0, 0.14), 
0px, 2px 1px rgba(0, 0, 0, 0.2);

}


.junior-title {
  
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--selective-color);
    margin-bottom: 50px;
    
}

.person {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    color: var(--selective-color);
    margin-bottom: 10px;
    
}


.profession {
    text-align: center;

    font-size: 16px;
    line-height: 1.2;
    color: var(--primary-text-color);

    margin-bottom: 30px;
    
}

/*-- Socials icons --*/

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
}

.socials-icon {
    fill: #AFB1B8;
}

.socials-link:hover {
background-color: #2196F3;
}

.socials-link:hover .socials-icon {
    fill: #ffffff;
}


/*-- Footer --*/

.footer {
    padding: 60px 0;
    background-color: var(--footer-bg-color);
}

.logo-two {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--additional-color);
    text-decoration: none;
}

span {
    font-family: Raleway, cursive;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.address-list {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    line-height: 1.71;
    color: var(--additional-color);
}

.separator .item {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: var(--primary-text-color);
    text-decoration: none;
}
.separator .item:hover,
.separator .item:focus {
    color:var(--accent-color);
}

.separator li:not(:last-child) {
    margin-bottom: 9px;
}

/* Button */

.button {
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color : var(--button-color);
    background-color: var(--button-bg-color);
}

      /* Портфолио */



.button-portfolio {
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--selective-color);
    background-color: var(--button-portfolio-bg-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: var(--additional-color);
    background-color: var(--accent-color);
}

.tack {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.line {
    width: 370px;
}


.line-wrap {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.point {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--selective-color);
}

.article {
    font-size: 16px;
    line-height: 1.9; 
    color: var(--primary-text-color);
}

